.myname {
    color: #0060df;
    font-size: 80px;
    margin: 0;
    padding-left: 10px; 
}

.avatar {
    width: 100px;
    height: 100px;
}

.main-grid {
    display: grid;
    grid-template-columns: 70% auto;
    grid-template-rows: 1fr;
    column-gap: 20px;
    margin-top: 20px;
}

.headline {
    display: flex;
}

.main-name {
    color: #0060df;
}

.contact-block {
    display: inline-block;
    margin-right: 10px;
}

.contact-block * {
    text-decoration: none;
    font-style: italic;
    color: rgb(93, 92, 92);
    display: inline;
}

.section {
    margin-bottom: 10px;
    color: #0060df;
    font-weight: bold;
    font-size: larger;
}

.subsection {
    color: rgb(62, 62, 62);
    margin: 0;
    font-weight: bold;
    font-size: large;
}

.location {
    color: gray;
    font-weight: bold;
    font-size: small;
    margin: 0
}

.info-subsection {
    margin-bottom: 20px;
}

p {
    color: gray;
}

.cv {
    margin-left: 20%;
    margin-right: 20%;
}
